@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.container1{
  position: relative;
  width: 400px;
  background: #fdf9f9;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container1 .post{
  display: none;
}
.container1 .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container1 .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
}
.container1 .edit:hover{
  text-decoration: underline;
}
.container1 .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #030303;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container1 form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 98%;
  width: 100%;
  outline: none;
  color: #000000;
  border: 1px solid #333;
  background: #faf7f7;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #000000;
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #fff8f8;
}
.s{
    padding-left: 35%;
    padding-top: 5%;
}

  /* Media query for screens between 320px and 600px */
  @media screen and (min-width: 700px) and (max-width: 900px) {
    .s{
        padding-left: 28%;
        padding-top: 5%;
    }
  }
  @media screen and (min-width: 550px) and (max-width: 700px) {
    .s{
        padding-left: 18%;
        padding-top: 5%;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 549px) {
    .s{
        padding-left: 10%;
        padding-top: 5%;
    }
    .container1{
        width: 90%;
    }
}
  @media screen and (min-width: 320px) and (max-width: 399px) {
    .s{
        padding-left: 5%;
        padding-top: 5%;
    }
    .container1{
        width: 90%;
    }
    .star-widget{
        width: fit-content;
    }
    .star-widget label{
        font-size: 25px;
color: #030303;
padding: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
float: right;
transition: all 0.2s ease;
    }
  }
